@model VideoStreamingAspMvc.Models.Video


@using (Html.BeginForm(
    actionName: "UploadVideoAjax",
    controllerName: "Videos",
    method: FormMethod.Post,
    htmlAttributes: new { @class = "form-horizontal", @enctype = "multipart/form-data", @role = "form", @id = "theForm" }
)){
    <div class="form-group row">
        <div class="col-sm-offset-2">
            <div class="file-control-wide">
                <label class="btn btn-default text-center" for="videoFile">
                    <input id="videoFile" name="videoFile" type="file" style="display:none"
                        onchange="videoFileSelected(this)" />
                    Browse
                </label>
                <input type="text" class="file-control-text" id="fileNameLabel" disabled />
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.HiddenFor(m => m.Id)

        <div class="col-sm-offset-2">
            <button type="button" class="btn btn-primary" onclick="uploadVideoAjax(); return false;">Upload</button>
            @Html.ActionLink("Save Without Video", "Index", "Videos", new { @class = "btn btn-default" })
        </div>
    </div>
}


<script type="text/javascript">

    function videoFileSelected(fileInput) {
        var file = fileInput.files[0];
        if (file)
            $("#fileNameLabel").val(file.name); // update fileNameLabel
    }

    function uploadVideoAjax() {
        var theForm = $("#theForm");

        // since the form control names and ids match the controller parameter names, 
        // they will be mapped to them!
        var formData = new FormData(theForm[0]);
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
            }
        }

        xhr.upload.addEventListener("progress", function (e) {
            // it will never come inside here
            if (e.lengthComputable) {
                console.log("progress:", e.loaded, "out of", e.total, "(", parseInt((e.loaded / e.total) * 100), "%)");
            }
            else {
                console.log("upload progress is not computable");
            }

        });

        xhr.upload.addEventListener("error", function (e) {
            console.log("upload error: ");
            console.log(e);
        });

        xhr.addEventListener("error", function (e) {
            console.log("post error occurred");
        });

        xhr.addEventListener("timeout", function (e) {
            console.log("timed out: ");
            console.log(e);
        });

        xhr.upload.addEventListener("timeout", function (e) {
            console.log("timed out 2: ");
            console.log(e);
        });


        xhr.open(theForm.attr("method"), theForm.attr("action"));
        xhr.send(formData);
    }
</script>
