@model VideoStreamingAspMvc.Models.Video

@{
    ViewBag.Title = "Edit Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Edit <i>@String.Format("{0} (id {1})", Model.Title, Model.Id)</i></h2>

<!-- form will be posted to the "SubmitEdit" Action of the "Video" Controller -->
@using (Html.BeginForm("SubmitEdit", "Videos", FormMethod.Post, new { @class="form-horizontal", @enctype="multipart/form-data", @role="form"}))
{
    Html.RenderPartial("_VideoForm");
}